@{
	ViewData["Title"] = "Reciclaje";
}
<link rel="stylesheet" href="~/css/style.css">

<main class="papelera">
	<section>
		<h2>Papelera de reciclaje</h2>
<div>
		@if (ViewBag.tareasBorradas != null)
		{
			
				foreach (Tarea tarea in ViewBag.tareasBorradas)
				{
				<div>
					<h3>@tarea.nombre</h3>
					<p>@tarea.contenido</p>
					<p>Fecha: @tarea.fechaCreacion</p>
					<form action='@Url.Action("recuperarTarea", "Tareas")' method="post">
						<input type="hidden" name="id_tarea" value="@tarea.id_tarea" />
						<input type="submit" value="Recuperar" />
					</form>
				</div>
				}
			
		}
</div>
		else
		{
			<p>No hay tareas borradas.</p>
		}

	</section>
</main>