@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="style.css">
@ViewBag.nombre

@{foreach(Tarea tarea in ViewBag.tareas){
        <div>
        <h1>@tarea.nombre</h1>
        <h3>@tarea.contenido</h3>
        <p>@tarea.fechaCreacion</p>
        @{if (@tarea.estaFinalizada){
        
            <p>Esta tarea ya ha sido finalizada</p>
            }
        }
        <div class="opciones">
            <form action='@Url.Action("eliminarTarea","Tareas")' method="post">
                <input type="hidden" name="id_tarea" value=@tarea.id_tarea>
                <input type="submit" value="Eliminar">
            </form>
             <form action='@Url.Action("terminarTarea","Tareas")' method="post">
                <input type="hidden" name="id_tarea" value=@tarea.id_tarea>
                <input type="submit" value="Terminar">
            </form>
            <form action='@Url.Action("compartirTarea","Tareas")' method="post">
                <p>Compartir con:</p>
                @foreach(Usuario usuario in ViewBag.otrosUsuarios){
                    @usuario.username<input type="checkbox" name="nuevos" value="@usuario.id_Usuario">
                } 

                <input type="hidden" name="id_tarea" value="@tarea.id_tarea">
                <input type="hidden" name="id_usuarioog" value="@tarea.id_usuarioog">

                <input type="submit" value="Terminar"/>
            </form>
        </div>
        @{if (tarea.id_lista != null){
            <p> @BDLista.obtenerNombre(@tarea.id_lista);</p>
            <form action='@Url.Action("sacarLista","Tarea")' method="post">
                <input type="hidden" name="id_tarea" value="@tarea.id_tarea">
                <input type="hidden" name="id_lista" value="@tarea.id_lista">
                <input type="submit" value="Eliminar de lista">
                 </form>
        }
        else{
            <form action='@Url.Action("agregarALista","Tarea")' method="post">
                <p>Agregar a lista:</p>
                @foreach(Lista lista in ViewBag.listas){
                    <input type="radio" name="id_lista" value="@lista.id_lista">@lista.nombre
                }
                <input type="hidden" name="id_tarea" value="@tarea.id_tarea">
                <input type="submit" value="Agregar">
                </form>
        }
        }
        
        </div>
    }

}
<form action='@Url.Action("agregarTarea","Tareas")' method="post">
<p>Nombre:</p><input type="text" name="nombre" required>
<p>Contenido:</p><input type="text" name="contenido" required>
<input type="submit" value="Agregar">
</form>
  <form action='@Url.Action("cerrarSesion","Usuario")'>
        <input type="submit" value="Cerrar Sesión">
    </form>
      <form action='@Url.Action("listas","Home")'>
        <input type="submit" value="Ir a administrador de listas">
    </form>

