    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="style.css">

<main class="vista">
    <h2>¡Hola, @ViewBag.nombre!</h2>
    <section class="tareas">
        @{
            foreach (Tarea tarea in ViewBag.tareas)
            {
                <div>
                    <h3>@tarea.nombre</h3>
                    <p>@tarea.contenido</p>
                    <p>@tarea.fechaCreacion</p>
                    @{
                        if (@tarea.estaFinalizada)
                        {

                            <p>Esta tarea ya ha sido finalizada</p>
                        }
                    }
                    <div>
                        <form action='@Url.Action("eliminarTarea","Tareas")' method="post">
                            <input type="hidden" name="id_tarea" value=@tarea.id_tarea>
                            <input type="submit" value="Eliminar">
                        </form>
                        <form action='@Url.Action("terminarTarea","Tareas")' method="post">
                            <input type="hidden" name="id_tarea" value=@tarea.id_tarea>
                            <input type="submit" value="Terminar">
                        </form>
                        <form action='@Url.Action("compartirTarea","Tareas")' method="post">
                            <p>Compartir con:</p>
                            @foreach (Usuario usuario in ViewBag.otrosUsuarios)
                            {
                                @usuario.username

                                <input type="checkbox" name="nuevos" value="@usuario.id_Usuario">
                            }

                            <input type="hidden" name="id_tarea" value="@tarea.id_tarea">
                            <input type="hidden" name="id_usuarioog" value="@tarea.id_usuarioog">

                            <input type="submit" value="Terminar" />
                        </form>
                    </div>
                    @{
                        if (tarea.id_lista != 0)
                        {
                            <p>Lista: @BDLista.obtenerNombre(@tarea.id_lista)</p>
                            <form action='@Url.Action("sacarLista","Tareas")' method="post">
                                <input type="hidden" name="id_tarea" value="@tarea.id_tarea">
                                <input type="hidden" name="id_lista" value="@tarea.id_lista">
                                <input type="submit" value="Eliminar de lista">
                            </form>
                        }
                        else
                        {
                            <form action='@Url.Action("agregarALista","Tareas")' method="post">
                                <p>Agregar a lista:</p>
                                @foreach (Lista lista in ViewBag.listas)
                                {
                                    <input type="radio" name="id_lista" value="@lista.id_lista">
                                    @lista.nombre
                                }
                                <input type="hidden" name="id_tarea" value="@tarea.id_tarea">
                                <input type="submit" value="Agregar">
                            </form>
                        }
                    }

                </div>
            }

        }
    </section>
    <section class="agregar">
        <div>
            <form action='@Url.Action("agregarTarea", "Tareas")' method="post">
                <p>Nombre:<input type="text" name="nombre" required></p>
                <p>Contenido:<input type="text" name="contenido" required></p>
                <input type="submit" value="Agregar">
            </form>
            <form action='@Url.Action("cerrarSesion", "Usuario")'>
                <input type="submit" value="Cerrar Sesión">
            </form>
            <form action='@Url.Action("listas", "Home")'>
                <input type="submit" value="Ir a administrador de listas">
            </form>
            <form action='@Url.Action("Reciclaje", "Home")'>
                <input type="submit" value="Cerrar Sesión">
            </form>
        </div>
    </section>
</main>